<p id="notice"><%= notice %></p>

<h1>Parts For Proposals</h1>

<table>
  
  <%= render "shared/parts_for_proposals_details", p_for_f_object: @parts_for_proposals %>

</table>

<br>

<%= link_to 'New Parts For Proposal', new_parts_for_proposal_path %>
